*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: black;
    height: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{

    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    text-decoration: none;
    color: aqua;
    transition: 0.5s;
}
nav ul li a:hover{
    border-bottom: 2px solid white;
}
.imeg-info{
    position: relative;
}
